
/////COLORS

$accent-green: #C1E8DA;
$accent-light: #C96868;
$brown: #5E4949;
$purple: #866770;

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

   .marker-label {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;     
     border: 2px solid black;
     white-space: nowrap;
   }

   