$color-main: #3F00FF;
$color-green: #45B29D;
$bg-color-main: #DF5A49;

/////COLORS
$accent-green: #C1E8DA;
$accent-light: #B0DDD9;
$brown: #5E4949;
$purple: #866770;


body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  color: lighten(black, 40%);
  background-color: $purple;
  font-size: 14px;
}


.angular-google-map-container {
  width: 100%;
  height: 80vh;
}

.marker-label {
   color: red;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 40px;
   border: 2px solid black;
   white-space: nowrap;
}
md-content {
  color: rgba(0,0,0, .6);
}

md-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

md-card md-card-content {
  padding: 30px;
  .md-title {
    margin-top: 0;
  }
}

.search-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(255,255,255, .8);
  padding: 20px;
  input {
    width: 300px;
  }
}

.to-the-top-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding-top: 4px;
}

a.md-button.md-fab, .md-button.md-fab {
  background-color: $accent-light;
  &:hover {
    background-color: darken($accent-light, 10%);
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

section {
  background-color: $purple;
}

.price {
  color: lighten(black, 60% );
  font-style: italic;
}

.bg-color-main {
  background-color: $purple;
}

.bg-white {
  background-color: white;
}

.mbs {
  margin-bottom: 12px;
}

.color-green {
  color: $color-green;
}

.barter-task {
  text-align: center;
  width: 20%;
}


md-card.slide-out {
  position: fixed;
  margin-left: 0;
  margin-top: 0;
  top: 0px;
  left: 0px;
  transform: translateX(-1000px);
  max-width: 400px;
  width: 100%;
  height: 100%;
  transition: transform .3s ease-out;
  background-color: rgba(255,255,255, .9);
  z-index:10000;
  h3 {
    text-align: center;
  }
  &.open {
    transform: translateX(0);
  }
  .slide-out-wrapper {
    padding: 20px;
    padding-top: 60px;
  }
  .close-button-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    md-button.md-fab {
      padding-top: 10px;
    }
  }
}

.color-yellow {
  color: goldenrod;
}

.md-button.md-fab {
  padding-top: 6px;
}
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
  color: black;
}
md-tabs md-ink-bar {
  background-color: $accent-light;
  color: $accent-light;
}

h3 {
  a {
    color: inherit;
    position:relative;
    text-decoration: none;
    &:hover{
      &:after{
        transform: scaleX(1);
      }
    }
    &:after{
      content: " ";
      background-color: $accent-light;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform .3s ease-out;
    }
  }
}
img {
  max-width: 100%;

}

.listing-photo {
  max-width: 80%;
  display: inline-block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
