<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="images/home/mp4/home.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="images/home/webm/home.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <!-- <div class="poster hidden">
            <img src="images/home/webm/home.jpg" alt="">
        </div> -->
        <div class="login-header full-width">
          <h1 class="header-text md-display-4">BED & BARTER</h1>
          <div class="full-width">
            <a href="/auth/facebook">
              <button class="md-button md-raised" id="login-btn" type="button" name="login">
                <span class="fa fa-facebook-square"></span>
                <span>login</span>
              </button>
            </a>
          </div>
        </div>
    </div>
</div>
